[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
[submodule "EpiModel"]
	path = EpiModel
	url = https://github.com/statnet/epimodel
	shallow = true
[submodule "ergm"]
	path = ergm
	url = https://github.com/statnet/ergm
	shallow = true
[submodule "ergm.count"]
	path = ergm.count
	url = https://github.com/statnet/ergm.count
	shallow = true
[submodule "ergm.ego"]
	path = ergm.ego
	url = https://github.com/statnet/ergm.ego
	shallow = true
[submodule "ergm.rank"]
	path = ergm.rank
	url = https://github.com/statnet/ergm.rank
	shallow = true
[submodule "ergm.userterms"]
	path = ergm.userterms
	url = https://github.com/statnet/ergm.userterms
	shallow = true
[submodule "latentnet"]
	path = latentnet
	url = https://github.com/statnet/latentnet
	shallow = true
[submodule "lolog"]
	path = lolog
	url = https://github.com/statnet/lolog
	shallow = true
[submodule "ndtv"]
	path = ndtv
	url = https://github.com/statnet/ndtv
	shallow = true
	subdir = ndtv
[submodule "rle"]
	path = rle
	url = https://github.com/statnet/rle
	shallow = true
[submodule "statnet"]
	path = statnet
	url = https://github.com/statnet/statnet
	shallow = true
[submodule "statnet.common"]
	path = statnet.common
	url = https://github.com/statnet/statnet.common
	shallow = true
[submodule "tergm"]
	path = tergm
	url = https://github.com/statnet/tergm
	shallow = true
